.App {
  text-align: center;
  background-color: #f0f0f0; 
  padding: 20px;
}

.logo {
  height: 20vmin;
}

.header, .subheader, .announcement, .copyright {
  color: #8B0000; 
}

.header {
  font-size: 3em;
}

.subheader {
  font-size: 2em;
}

.announcement {
  font-size: 1.5em;
}

.copyright {
  font-size: 1em;
  color: #FFF5E1; 
}

.image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 20px; 
}

.image-item {
  flex: 1 1 200px; 
  text-align: center;
}

.image-item img {
  width: 100%;
  max-width: 200px; 
  height: 150px; 
  object-fit: cover; 
  border: 2px solid black; 
}

.image-item p {
  font-size: 1.2em;
  color: #8B0000; 
  margin: 5px 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 10px;
  padding: 20px;
  text-align: left;
}

.card h3 {
  color: #8B0000;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card p {
  color: #333;
  font-size: 1em;
  margin: 5px 0;
}
